# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore data files
*.csv
*.parquet
*.json
*.log

# Ignore virtual environment folders
venv/
.env/
.venv/

# Ignore Airflow logs and metadata DB
airflow/logs/
airflow/airflow.db
airflow/unittests.cfg

# Ignore Jupyter notebooks checkpoints (if any)
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
